// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');



// COLOR CONSTANTS

$background-gray: #f0f0f0;

$button-bg: #0b201f9b;

$ui-primary-color: #001514;

$ui-secondary-color: #9c9c9c;


// DEFAULT UI CONSTANTS

$container-width: 1100px;




// CUSTOM MIXINS

@mixin center-child {
	display: flex;
	justify-content: center;
	align-items: center;
}



// BASIC STYLES RESETS

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-gray;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-bod {
	font-weight: bold;
}

.container{
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}

.nofound{
  font-family: 'Poppins', sans-serif;
  @include center-child;
  flex-direction: column;
  height: 100vh;

  h1{
    font-weight: 4em;
    color: red;
  }

  a{
    text-decoration: none;
    padding: 1em;
    background: rgba(3, 3, 3, 0.13);
    color: $ui-primary-color;
    border-radius: 8px;

    &:hover{
      background: $ui-primary-color;
      color: #fff;
    }
  }
}