// COLOR CONSTANTS

$background-gray: #f0f0f0;

$button-bg: #0b201f9b;

$ui-primary-color: #001514;

$ui-econdary-color: #9c9c9c;


// CUSTOM MIXINS

@mixin center-child {
  display: flex;
  justify-content: center;
  align-items: center;
}


// BASIC STYLES RESETS
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
